@*@model IEnumerable<Organizer.Entity.UserEvent>*@
@using Organizer.Entity
@model List<UserEvent>
@{
    ViewBag.Title = "EventDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<UserEvent> list = new List<UserEvent>();
    foreach (var item in Model)
    {
        list.Add(item);
        TempData["Bulk"] = list;
        //TODO böyle yapmadan direkt modeli bir tempdataya alamaz mıyım?
    }
    @*<p>
        @Html.ActionLink("Toplu Mesaj", "SendBulkMessage", "Message", new { id = list. }, htmlAttributes: new { })
    </p>*@
}

<h2>Etkinlik Detayları</h2>

<p>
    @Html.ActionLink("✉ Hepsine Mesaj", "SendBulkMessage", "Message")
</p>
<table class="table">
    <tr>
        <th>
            Katılanlar
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Users.Name)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }
</table>
    <p>
        @Html.ActionLink("Geri", "MyEvents")
    </p>
